.navi{
  background-color:rgba(50,128,50,0.5)
}
.content{
  background-color:rgba(50,50,128,0.5)
}
.fill_container{
  height: 100%;
  width: 100%;
}
a#MainSiteButton{
  height: 100%; width: 100%; background-color:rgba(45,190,45,1.0)
}
a#MainSiteButton:active
{
  background-color:rgba(45,100,45,0.5)
}
