{% extends 'index.html' %}

{% block navi %}

<div class="row">
<a href="/sing_up/" class="btn btn-primary fill_container">Sing up</a> </br>
</div>
<div class="row">
<a href="/log_in/" class="btn btn-primary fill_container">Log in</a> </br>
</div>
<div class="row">
<a href="/log_out/" class="btn btn-primary fill_container">Log out</a> </br>
</div>
<div class="row">
<a href="/messeges/" class="btn btn-primary fill_container">Messeges</a> </br>
</div>

{% endblock %}

{% block content %}

  {% if messages %}

  {% for message in messages %}
  <div class="jumbotron">

    <div class="row"><h3 class="alert alert-primary"><strong>{{message.title}}</strong></h3></div>
    <div class="row">{{message.content}}</div>
    <div class="row"><div class="col"><strong>From:{{message.mailer.username}}</strong></div></div>

  </div>

  {% endfor%}


  {% endif%}


{% endblock %}
