{% extends 'index.html' %}

{% block navi %}

<div class="row">
<a href="/sing_up/" class="btn btn-primary fill_container">Sing up</a> </br>
</div>
<div class="row">
<a href="/log_in/" class="btn btn-primary fill_container">Log in</a> </br>
</div>
<div class="row">
<a href="/log_out/" class="btn btn-primary fill_container">Log out</a> </br>
</div>
<div class="row">
<a href="/messeges/" class="btn btn-primary fill_container">Messeges</a> </br>
</div>

{% endblock %}

{% block content %}
  <br>
  <div class="jumbotron">
      <div class="text-primary">
    <h1><p>Username: {{user.username}} </p></h1>
    <h2><p>Points: {{user.points}} </p> </h2>
    </div>
    <hr>
    {% if unlock %}
    <p> <a href="\add_product\"><h2 class="btn btn-success"> ADD PRODUCT </h2></a></p>

    {% if your_products %}

      {% for product in your_products %}

        <div class="jumbotron">
          <div class="row-lg-3">
            <div class="col-md-3">
                    <img src="/media/{{product.image}}" class="img-thumbnail"/>
              </div>
              <div class="col-md-9">
                    <p><strong class="alert alert-primary">{{product.name}} </strong> </p>
                    <p clas="alert alert-success">{{product.description}}</p>
                    <p class="alert alert-warining">Price{{product.price}}$ <a href="/edit_product/{{product.id}}" class="btn btn-danger">Edit</a></p>
                    <p class="alert alert-danger">SALED {{product.buyer}} </p>
                </div>
            </div>
        </div>

      {% endfor %}

    {% endif %}

    {% endif %}
  </div>


{% endblock %}
